.main_button {

    mat-card-content {

        mat-radio-button {
            margin-left: 16px;
          }
        div {
            padding: 10px;
        }
    }
}

.child1_button {
    mat-card-content {
        mat-radio-button {
            margin-left: 16px;
        }

        div {
            padding: 10px;
        }
    }
}
